.like-btn{
    display: inline-block;
    margin-right: 5px;
}

.add-color{
    color:palevioletred;
}

#video {
    display: none;
}

.alert.alert-success.emotion-negative{
    margin: 0!important;
    height: 210px!important;
    overflow: auto!important;
    background-color:rgb(200, 180, 225)!important;
    font-size: 23px!important;
}
.alert.alert-success.emotion-positive{
    margin: 0!important;
    height: 210px!important;
    overflow: auto!important;
    background-color:#eb9b6f!important;
    font-size: 23px!important;
}
.alert.alert-success.emotion-neutral{
    margin: 0!important;
    height: 210px!important;
    overflow: auto!important;
    background-color:rgb(200, 225, 180)!important;
    font-size: 23px!important;
}
.alert.alert-success.emotion-none{
    margin: 0!important;
    height: 210px!important;
    overflow: auto!important;
    background-color:#d4dcd6!important;
    font-size: 23px!important;
}

#sidebar {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 200px;
    background-color: #f5f5f5;
    padding: 20px;
    }

#canvas {
    display: none;
}

.main-emort-content{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.fotter-emort-content{
    position: absolute;
    right: 0;
    margin-right: 20px;
    bottom: 5%;
    font-size: 20px!important;
}
.commentowner {
    height: 300px; /* あなたが望む高さに設定 */
    /* コンテンツが高さを超える場合、自動的に高さを高く合わせる */
    overflow: auto;
}

.action-buttons {
    position: absolute;
    bottom: 0;
    padding-bottom: 1%;
}
.commentowner p {
    font-size: 30px;
}

.commentblock {
    padding-left: 10%;
}