{% extends 'base.html' %}

{% block content %}
<body>
    <video id="video" width="640" height="480" autoplay></video>
    <!-- hide canvas-->
    <canvas id="canvas" autoplay></canvas>
    <input type="text" id="textInput-content" value="content">
    <input type="hidden" id="textInput-user_id" value="{{ request.user.id }}">
    <button id="captureButton">投稿</button>
</body>
<script>
var video = document.getElementById('video');
// getUserMedia()でカメラ映像の取得
var media = navigator.mediaDevices.getUserMedia({ video: true });
//リアルタイム再生（ストリーミング）を行うためにビデオタグに流し込む
media.then((stream) => {
    video.srcObject = stream;
});

var canvas = document.getElementById('canvas');
canvas.setAttribute('width', video.width);
canvas.setAttribute('height', video.height);

video.addEventListener(
    'timeupdate',
    function () {
        var context = canvas.getContext('2d');
        context.drawImage(video, 0, 0, video.width, video.height);
    },
    true
);


// キャプチャボタンを押したときの処理
var captureButton = document.getElementById('captureButton');
captureButton.addEventListener('click', function () {
    event.preventDefault(); 
    var context = canvas.getContext('2d');
    var img_base64 = canvas.toDataURL('image/jpeg');
    console.log("img_base64: ", img_base64);
    var content = document.getElementById('textInput-content').value;
    var user_id = document.getElementById('textInput-user_id').value;
    // var content = document.getElementById('textInput-content').value;
    captureImg(img_base64, content, user_id);
});


var xhr = new XMLHttpRequest();

var path = window.location.pathname;

// キャプチャ画像データ(base64)と文字列をPOST
function captureImg(img_base64, content, user_id) {
    const body = new FormData();
    body.append('image', img_base64);
    body.append('content', content);
    // body.append('content', content); // 文字列を追加
    body.append('user_id', user_id);
    if (path.slice(-7) == "create/") {
        var url = "{% url 'face_emotion_predict' %}";
    } else {
        body.append('path', path);
        var url = "{% url 'face_emotion_predict_for_comment' %}";
    }
    
    xhr.open('POST', url, true);
    xhr.send(body);

}

</script>

<style>
    /* canvasは非表示にする
    (これをしないと2枚画像が現れる) */
    #canvas {
        display: none;
    }
</style>
{% endblock content %}

