{% extends 'base.html' %}
{% load static %}

{% block customcss %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock customcss %}

{% block content %}
<div class="container mt-3">
    {% for item in object_list %}
    <div class="alert alert-success emotion-{{ item.face_emotion }}" role="alert">
        <p>{{item.content}}</p>
            {% if item.face_emotion == "positive" %}🥰{% elif item.face_emotion == "negative" %}😥{% else %}😐{% endif %}
        <p>投稿者：{{item.user.username}}</p>
        <p>文字感情：{{item.text_emotion}}</p>
        <p>表情：{{item.face_emotion}}</p>
        
        {% if request.user != item.user %} <!-- 自分の投稿にはフォローといいねボタンを表示しない -->
        {% if request.user in item.like.all %}
        <a href="{% url 'like-home' item.pk %}" class="like-btn add-color" tabindex="-1" role="button" aria-disabled="true"><i class="fas fa-heart"></i></a>{{item.like.count}}
        {% else %}
        <a href="{% url 'like-home' item.pk %}" class="like-btn" tabindex="-1" role="button" aria-disabled="true"><i class="far fa-heart"></i></a>{{item.like.count}}
        {% endif %}
        {% if item.user in connection.0.following.all %}
        <a href="{% url 'follow-home' item.pk %}" class="btn btn-danger ms-3" tabindex="-1" role="button" aria-disabled="true">フォロー解除</a>
        {% else %}
        <a href="{% url 'follow-home' item.pk %}" class="btn btn-primary ms-3" tabindex="-1" role="button" aria-disabled="true">フォロー</a>
        {% endif %}
        {% endif %}
    </div>
    {% endfor %}
</div>

<style>
    .alert.alert-success.emotion-positive{
        background-color:palevioletred;
    }
    .alert.alert-success.emotion-negative{
        background-color:lightblue;
    }
    .alert.alert-success.emotion-neutral{
        background-color:lightgreen;
    }
</style>
{% endblock content %}